body {
    background-color: #ebf5fba8 !important;
}

#content {
    width: 800px;
    height: 100%;
    margin: auto; 
    padding-bottom: 6px;
}


h1 {
    text-align: center;
    margin: 20px;
    padding: 20px 0px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    left: 40px;
    right: 40px;
}

#content .btn-info {

    min-width: 134px;
    margin: 30px;
    font-size: 20px;
    
}

#content .btn-info:hover {
    background-color: #1ABC9C;
}

#content .form-control {
    width: 688px;
    margin: auto;  
}


.shops { 
    margin-top: 20px;
    padding-left: 26px;
}


#list li {

    list-style: none;
    font-size: 18px;
    margin-top: 10px;
}

#list li span {
    cursor: pointer;
}

#list li span:hover {
    background-color: #34495E;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
  }




